# ==========================================
# Infraserver - Git Attributes
# ==========================================

# Auto detect text files
* text=auto

# Shell Script
*.sh text eol=lf

# Markdown
*.md text eol=lf

# Config
*.conf text eol=lf

# YAML
*.yml text eol=lf
*.yaml text eol=lf

# Windows
*.bat text eol=crlf
*.ps1 text eol=crlf